<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Enquiries</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' />
  </head>

  <body class='container'>
	<p>&nbsp;</p>
	<ul class="nav nav-tabs">
		<li class="<%= 'active' if @page === 'index' %>"><a href="/">Make Enquiry</a></li>
		<li class="<%= 'active' if @page === 'list' %>"><a href="/list">List Enquiries</a></li>
	</ul>
	<p>&nbsp;</p>

    <%= yield %>
  
  </body>
</html>